/* Fuentes Importadas */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Mixins */
/* Reset Estilos*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos body */
body {
  font-family: "Poppins", sans-serif;
}

/* Estilos Header */
.navbar--background {
  background-color: #00AA4D;
  padding: 20px;
}
.navbar--background .logo-container img {
  width: 60%;
}
.navbar--background .logo-container .navbar-toggler--border {
  border: 1px solid #fff;
}
.navbar--background .navbar__collapse--width {
  flex-grow: initial;
}
.navbar--background .navbar__collapse--width .navbar__nav--content {
  width: 500px;
  justify-content: space-between;
}
.navbar--background .navbar__collapse--width .navbar__nav--content .nav-item .nav__link--color {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.navbar--background .navbar__collapse--width .navbar__nav--content .nav-item .nav__link--color::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #FFFFFF;
  border-radius: 0;
  transition: all 0.5s ease-in-out;
}
.navbar--background .navbar__collapse--width .navbar__nav--content .nav-item .nav__link--color:hover::after {
  width: 100%;
}

/* Estilos Page Index */
main {
  background-image: url(../images/nacional-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px 0px 20px 0px;
}
main .introduccion {
  background-color: #2E2E2D;
  padding: 20px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 117px;
}
main .introduccion h1 {
  font-size: 40px;
}
main .introduccion p {
  font-size: 22px;
  margin: 10px 0;
}
main .ultimos-partidos, main .tabla-posiciones {
  background-color: #fff;
  width: 80%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 20px;
}
main .ultimos-partidos .container--bg-color, main .tabla-posiciones .container--bg-color {
  background-color: #2E2E2D;
  border-radius: 20px;
  padding: 20px;
}
main .ultimos-partidos .container--bg-color h2, main .tabla-posiciones .container--bg-color h2 {
  font-size: 30px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 25px;
}
main .ultimos-partidos .container--bg-color .team-card, main .tabla-posiciones .container--bg-color .team-card {
  margin: 20px 0;
  text-align: center;
}
main .ultimos-partidos .container--bg-color .team-card span, main .tabla-posiciones .container--bg-color .team-card span {
  color: #bca86f;
  font-size: 22px;
  font-weight: bold;
}
main .ultimos-partidos .container--bg-color .team-card .card-container, main .tabla-posiciones .container--bg-color .team-card .card-container {
  margin: 20px 0;
}
main .ultimos-partidos .container--bg-color .team-card .card-container .card-resultado, main .tabla-posiciones .container--bg-color .team-card .card-container .card-resultado {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main .ultimos-partidos .container--bg-color .team-card .card-container .card-resultado img, main .tabla-posiciones .container--bg-color .team-card .card-container .card-resultado img {
  width: 8%;
}
main .ultimos-partidos .container--bg-color .team-card .card-container .card-resultado p, main .tabla-posiciones .container--bg-color .team-card .card-container .card-resultado p {
  font-size: 18px;
  margin-bottom: 0;
}
main .ultimos-partidos .container--bg-color .team-card .card-container .card-resultado p:first-of-type, main .tabla-posiciones .container--bg-color .team-card .card-container .card-resultado p:first-of-type {
  width: 23%;
}
main .tabla-posiciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}
main .tabla-posiciones .tabla-container {
  background-color: #2E2E2D;
  color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
}
main .tabla-posiciones .tabla-container h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 5px;
  text-align: center;
}
main .tabla-posiciones .tabla-container h3 {
  font-size: 22px;
  text-align: center;
}
main .tabla-posiciones .tabla-container table {
  margin: 20px 0;
}
main .tabla-posiciones .tabla-container table th {
  padding: 0px 10px;
  color: #bca86f;
}
main .tabla-posiciones .tabla-container table td {
  padding: 5px 10px;
}

/* Estilos Historia */
main .historia-title, main .contacto-title, main .multimedia-title {
  background-color: #2E2E2D;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  color: #FFFFFF;
  margin-top: 117px;
  margin-bottom: 0;
}
main .historia h2 {
  text-align: center;
  font-size: 35px;
  color: #00AA4D;
  padding: 20px;
  margin: 20px 0;
}
main .historia .carousel--margin {
  margin: 30px 0;
}
main .historia .carousel--margin .carousel__historia-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .historia .carousel--margin .carousel__historia-container .historia__item {
  text-align: center;
  background-color: #2E2E2D;
  border-radius: 20px;
  margin: 0 10px;
  padding: 20px;
  width: 25%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .historia .carousel--margin .carousel__historia-container .historia__item h3 {
  font-size: 30px;
  color: #bca86f;
}
main .historia .carousel--margin .carousel__historia-container .historia__item p {
  font-size: 16px;
  color: #FFFFFF;
}
main .historia .carousel--margin .carousel-control-prev-icon, main .historia .carousel--margin .carousel-control-next-icon {
  background-image: url(../images/chevron-left.svg);
  width: 4rem;
  height: 4rem;
}
main .historia .carousel--margin .carousel-control-next-icon {
  background-image: url(../images/chevron-right.svg);
}
main .historia .carousel--margin .carousel--position {
  position: relative;
  margin-top: 1rem;
}
main .historia .carousel--margin .carousel--position [data-bs-target] {
  background-color: #2E2E2D;
}

/* Estilos Page Multimedia */
main .multimedia {
  margin: 20px auto;
  padding: 20px;
}
main .multimedia h2 {
  font-size: 35px;
  padding: 20px;
  color: #00AA4D;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
main .multimedia .multimedia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
main .multimedia .multimedia-container div {
  background-color: #2E2E2D;
  border-radius: 20px;
  padding: 20px;
  margin: 40px;
  text-align: center;
  width: 40%;
}
main .multimedia .multimedia-container div iframe {
  margin-bottom: 20px;
  width: 100%;
}
main .multimedia .multimedia-container div h3 {
  font-size: 22px;
  text-align: center;
  color: #bca86f;
}
main .multimedia .multimedia-container div p {
  font-size: 20px;
  color: #FFFFFF;
}

/* Estilos Page Contacto */
main .contacto h2 {
  font-size: 35px;
  padding: 20px;
  color: #00AA4D;
  text-align: center;
}
main .contacto p {
  font-size: 22px;
  text-align: center;
  color: #231F20;
  font-weight: bold;
}
main .contacto form {
  margin: 50px auto;
  width: 60%;
}
main .contacto form input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid;
  padding: 5px;
}
main .contacto form input[type=submit] {
  background-color: #00AA4D;
  color: #FFFFFF;
  font-weight: bold;
  width: 20%;
  margin: 0 auto;
  border-radius: 20px;
  transition: 0.5s ease;
}
main .contacto form input[type=submit]:hover {
  background-color: #2E2E2D;
  color: #bca86f;
  border: 1px solid #2E2E2D;
}
main .contacto form textarea {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid;
  padding: 5px;
}

/* Estilos Footer */
footer {
  background-image: url(../images/nacional_fondo_footer_.png);
  background-size: cover;
  background-position: center;
}
footer .redes {
  background-image: url(../images/footer_nacional.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  padding: 20px 0;
}
footer .redes h3 {
  font-size: 22px;
  color: #FFFFFF;
  text-align: center;
}
footer .redes ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
footer .redes ul li {
  margin: 0 10px;
}
footer .patrocinadores h3 {
  font-size: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
}
footer .patrocinadores .patrocinadores-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
footer .patrocinadores .patrocinadores-container img {
  width: 15%;
  margin: 0 20px;
}
footer .escudo {
  text-align: center;
  padding-bottom: 40px;
}
footer .escudo img {
  width: 10%;
}

/* Media Queries */
@media (max-width: 1199.98px) {
  .navbar--background .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar--background .logo-container .navbar-toggler--border:focus {
    box-shadow: none;
  }
  .navbar--background .navbar__collapse--width .navbar__nav--content {
    width: 100%;
    text-align: center;
  }
  main .introduccion h1 {
    font-size: 35px;
  }
  main .ultimos-partidos {
    width: 90%;
  }
  main .ultimos-partidos .container--bg-color .team-card .card-container .card-resultado p:first-of-type {
    width: 30%;
  }
  main .tabla-posiciones {
    width: 90%;
  }
  main .historia-title {
    font-size: 35px;
  }
  main .historia h2 {
    padding: 20px 140px;
    font-size: 30px;
  }
  main .multimedia-title {
    font-size: 35px;
  }
  main .multimedia h2 {
    font-size: 30px;
  }
  main .multimedia .multimedia-container div h3 {
    font-size: 20px;
  }
  main .contacto-title {
    font-size: 35px;
  }
  main .contacto h2 {
    font-size: 30px;
  }
}
@media (max-width: 991.98px) {
  main .introduccion h1 {
    font-size: 30px;
  }
  main .introduccion p {
    font-size: 20px;
  }
  main .ultimos-partidos .container--bg-color {
    max-width: 810px;
  }
  main .tabla-posiciones {
    flex-direction: column;
  }
  main .tabla-posiciones .tabla-container:nth-child(1) {
    margin-bottom: 30px;
  }
  main .historia-title {
    font-size: 30px;
  }
  main .historia h2 {
    font-size: 25px;
  }
  main .multimedia-title {
    font-size: 30px;
  }
  main .multimedia .multimedia-container div {
    padding: 15px;
    margin: 30px;
  }
  main .multimedia .multimedia-container div iframe {
    min-height: 220px;
    height: 100%;
  }
  main .multimedia .multimedia-container div h3 {
    font-size: 16px;
  }
  main .multimedia .multimedia-container div p {
    font-size: 16px;
  }
  main .contacto-title {
    font-size: 30px;
  }
  main .contacto h2 {
    font-size: 25px;
  }
  main .contacto p {
    padding: 0 140px;
  }
}
@media (max-width: 767.98px) {
  main .introduccion h1 {
    font-size: 25px;
  }
  main .introduccion p {
    font-size: 18px;
  }
  main .ultimos-partidos .container--bg-color h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  main .historia-title {
    font-size: 25px;
  }
  main .historia h2 {
    font-size: 20px;
    padding: 20px 80px;
  }
  main .historia .carousel--margin .carousel__historia-container .historia__item {
    width: 35%;
  }
  main .multimedia-title {
    font-size: 25px;
  }
  main .multimedia h2 {
    font-size: 25px;
  }
  main .multimedia .multimedia-container div {
    margin: 20px;
    padding: 15px;
  }
  main .contacto-title {
    font-size: 25px;
  }
  main .contacto h2 {
    font-size: 20px;
  }
  main .contacto p {
    font-size: 18px;
  }
}
@media (max-width: 575.98px) {
  header .navbar--background {
    padding: 12px;
  }
  main .introduccion {
    margin-top: 92px;
  }
  main .introduccion h1 {
    font-size: 20px;
  }
  main .introduccion p {
    font-size: 16px;
  }
  main .ultimos-partidos {
    padding: 20px;
  }
  main .ultimos-partidos .container--bg-color h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  main .ultimos-partidos .container--bg-color .team-card span {
    font-size: 20px;
  }
  main .ultimos-partidos .container--bg-color .team-card .card-container .card-resultado p:first-of-type {
    width: 40%;
  }
  main .tabla-posiciones .tabla-container {
    padding: 10px;
  }
  main .tabla-posiciones .tabla-container h2 {
    font-size: 22px;
  }
  main .tabla-posiciones .tabla-container:nth-child(1) {
    margin-bottom: 30px;
  }
  main .tabla-posiciones .tabla-container h3 {
    font-size: 18px;
  }
  main .tabla-posiciones .tabla-container table th {
    padding: 0 5px;
  }
  main .tabla-posiciones .tabla-container table td {
    font-size: 15px;
    padding: 5px 8px;
  }
  main .historia-title {
    margin-top: 92px;
    font-size: 20px;
    line-height: 30px;
  }
  main .historia h2 {
    font-size: 18px;
    padding: 20px 50px;
  }
  main .historia .carousel--margin .carousel__historia-container .historia__item {
    padding: 10px;
    width: 45%;
    margin: 0 5px;
  }
  main .historia .carousel--margin .carousel__historia-container .historia__item p {
    font-size: 15px;
  }
  main .historia .carousel--margin .carousel-control-prev {
    width: 7%;
  }
  main .historia .carousel--margin .carousel-control-prev .carousel-control-prev-icon {
    width: 3rem;
    height: 3rem;
  }
  main .historia .carousel--margin .carousel-control-next {
    width: 7%;
  }
  main .historia .carousel--margin .carousel-control-next .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
  main .multimedia-title {
    margin-top: 92px;
    font-size: 20px;
    line-height: 30px;
  }
  main .multimedia {
    margin: 0px auto;
  }
  main .multimedia h2 {
    font-size: 20px;
    margin-bottom: 0px;
  }
  main .multimedia .multimedia-container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  main .multimedia .multimedia-container div {
    margin: 15px;
    width: 90%;
  }
  main .multimedia .multimedia-container div iframe {
    width: 100%;
    height: 100%;
  }
  main .multimedia .multimedia-container div h3 {
    font-size: 18px;
  }
  main .contacto-title {
    margin-top: 92px;
    font-size: 20px;
    line-height: 30px;
  }
  main .contacto h2 {
    font-size: 18px;
  }
  main .contacto p {
    font-size: 16px;
    padding: 0 50px;
  }
  main .contacto form {
    width: 90%;
  }
  main .contacto form input[type=submit] {
    width: 30%;
  }
}

/*# sourceMappingURL=sass-style.css.map */
