

/* Reset Estilos*/

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Variables */

/* :root {
    --font-family: "Poppins", sans-serif;
    --color-primary: #00AA4D;
    --color-secundary: #2E2E2D;
    --color-text: #231F20;
    --color-white: #FFFFFF;
    --color-dorado: #bca86f;
} */

/* body {
    font-family: var(--font-family);
} */

/* Estilos index.html */

/* Header / Navbar */
/* header img {
    width: 60%;
} */

/* .navbar--background {
    background-color: var(--color-primary);
    padding: 20px;
} */

/* .navbar__collapse--width {
    flex-grow: initial;
} */

/* .navbar-toggler--border{
    border: 1px solid #fff;
} */

/* .navbar__nav--content {
    width: 500px;
    justify-content: space-between;
} */

/* .nav__link--color {
    color: var(--color-white);
    font-size: 20px;
    font-weight: bold;
} */

/* Seccion Introduccion */
/* main {
    background-image: url(../images/nacional-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 0px 0px 20px 0px;
} */

/* .introduccion {
    background-color: var(--color-secundary);
    padding: 20px;
    color: var(--color-white);
    text-align: center;
    margin-top: 117px;
} */

/* .introduccion h1 {
    font-size: 40px;
} */

/* .introduccion p {
    font-size: 22px;
    margin: 10px 0;
} */

/* Seccion Ultimos Partidos*/
/* .container--bg-color {
    background-color: var(--color-secundary);
    border-radius: 20px;
    padding: 20px;
} */

/* .ultimos-partidos h2 {
    font-size: 30px;
    text-align: center;
    color: var(--color-white);
    text-transform: uppercase;
    margin-bottom: 25px;
} */

/* .ultimos-partidos, .tabla-posiciones {
    background-color: #fff;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
} */

/* .team-card {
    margin: 20px 0;
    text-align: center;
} */

/* .team-card span {
    color: var(--color-dorado);
    font-size: 22px;
    font-weight: bold;
} */

/* .card-container {
    margin: 20px 0;
} */

/* .card-resultado {
    color: var(--color-white);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

/* .card-resultado p {
    font-size: 18px;
    margin-bottom: 0;
} */

/* .card-resultado p:first-of-type {
    width: 23%;
} */

/* .card-resultado img {
    width: 8%;
} */

/* Tabla Posiciones */
/* .tabla-posiciones {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

/* .tabla-posiciones .tabla-container {
    background-color: var(--color-secundary);
    color: var(--color-white);
    padding: 20px;
    border-radius: 20px;
}

.tabla-posiciones .tabla-container h2, .tabla-posiciones .tabla-container h3 {
    text-align: center;
} */

/* .tabla-posiciones .tabla-container h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 5px;
} */

.tabla-posiciones .tabla-container table {
    margin: 20px 0;
}

.tabla-posiciones .tabla-container table th {
    padding: 0px 10px;
    color: var(--color-dorado);
}

.tabla-posiciones .tabla-container table td {
    padding: 5px 10px;
}

/* Footer */
footer {
    background-image: url(../images/nacional_fondo_footer_.png);
    background-size: cover;
    background-position: center;
}

.redes {
    background-image: url(../images/footer_nacional.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    padding: 20px 0;
}

.redes h3 {
    font-size: 22px;
    color: var(--color-white);
    text-align: center;
}

.redes ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.redes ul li {
    margin: 0 10px;
}

.patrocinadores h3 {
    font-size: 30px;
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}

.patrocinadores-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.patrocinadores-container img {
    width: 15%;
    margin: 0 20px;
}

.escudo {
    text-align: center;
    padding-bottom: 40px;
}

.escudo img {
    width: 10%;
}

/* Pagina Historia */
.historia-title, .multimedia-title, .contacto-title {
    background-color: var(--color-secundary);
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color: var(--color-white);
    margin-top: 117px;
    margin-bottom: 0;
}

.historia h2 {
    text-align: center;
    font-size: 30px;
    color: var(--color-primary);
    padding: 20px;
    margin: 20px 0;
}

.carousel--margin {
    margin: 30px 0;
}

.carousel__historia-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.historia__item {
    text-align: center;
    background-color: var(--color-secundary);
    border-radius: 20px;
    margin: 0 10px;
    padding: 20px;
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.historia__item h3 {
    font-size: 30px;
    color: var(--color-dorado);
}

.historia__item p {
    font-size: 16px;
    color: var(--color-white);
}

.carousel--position {
    position: relative;
    margin-top: 1rem;
}

.carousel--position [data-bs-target] {
    background-color: var(--color-secundary);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 4rem;
    height: 4rem;
}

.carousel-control-next-icon {
    background-image: url(../images/chevron-right.svg);
}

.carousel-control-prev-icon {
    background-image: url(../images/chevron-left.svg);
}

/* Pagina Multimedia */

.multimedia {
    margin: 20px auto;
    padding: 20px;
}

.multimedia h2 {
    font-size: 35px;
    padding: 20px;
    color: var(--color-primary);
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.multimedia-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.multimedia-container div {
    background-color: var(--color-secundary);
    border-radius: 20px;
    padding: 20px;
    margin: 40px;
    text-align: center;
}

.multimedia-container div iframe {
    margin-bottom: 20px;
}

.multimedia-container div h3 {
    font-size: 22px;
    text-align: center;
    color: var(--color-dorado);
}

.multimedia-container div p {
    font-size: 20px;
    color: var(--color-white);
}

/* Pagina Contacto */
.contacto h2 {
    font-size: 35px;
    padding: 20px;
    color: var(--color-primary);
    text-align: center;
}
.contacto p {
    font-size: 22px;
    text-align: center;
    color: var(--color-text);
    font-weight: bold;
}

.contacto form {
    margin: 50px auto;
    width: 60%;
}

.contacto form input, .contacto form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 5px;
}

.contacto form input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    width: 20%;
    margin: 0 auto;
    border-radius: 20px;
}

/* Media Queries */

/* Celulares */

@media (max-width: 576px) {
    header img {
        width: 55%;
    }
    .logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .introduccion {
        margin-top: 112px;
    }
    .navbar-toggler--height:focus{
        box-shadow: none;
    }
    .navbar__nav--content {
        width: 100%;
        text-align: center;
    }
    .introduccion h1 {
        font-size: 25px;
    }
    .introduccion p {
        font-size: 16px;
    }
    .ultimos-partidos, .tabla-posiciones {
        width: 90%;
        padding: 20px;
    }
    .ultimos-partidos h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .card-resultado p:first-of-type {
        width: 40%;
    }
    .team-card span {
        font-size: 20px;
    }
    .tabla-posiciones {
        flex-direction: column;
    }
    .tabla-posiciones .tabla-container {
        padding: 10px;
    }
    .tabla-posiciones .tabla-container h2 {
        font-size: 22px;
    }
    .tabla-posiciones .tabla-container:nth-child(1) {
        margin-bottom: 30px;
    }
    .tabla-posiciones .tabla-container h3 {
        font-size: 18px;
    }
    .tabla-posiciones .tabla-container table td {
        font-size: 16px;
    }
    .carousel__historia-container {
        padding: 0 15px;
    }
    .historia-title, .multimedia-title, .contacto-title {
        margin-top: 112px;
        font-size: 25px;
        line-height: 30px;
    }
    .historia h2 {
        font-size: 22px;
    }
    .historia__item {
        padding: 10px;
        width: 100%;
        margin: 0 5px;
    }
    .historia__item p {
        font-size: 15px;
    }
    .carousel-control-next, .carousel-control-prev {
        width: 7%;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 3rem;
        height: 3rem;
    }
    .multimedia {
        margin: 0px auto;
    }
    .multimedia h2 {
        font-size: 25px;
        margin-bottom: 0px;
    }
    .multimedia-container {
    flex-direction: column;
    flex-wrap: nowrap;
}
    .multimedia-container div {
        background-color: var(--color-secundary);
        border-radius: 20px;
        padding: 20px;
        margin: 15px;
        text-align: center;
    }
    .multimedia-container div iframe {
        width: 100%;
        height: 100%;
    }
    .contacto h2 {
        font-size: 22px;
    }
    .contacto p {
        font-size: 18px;
    }
    .contacto form {
        width: 100%;
    }
    .contacto form input[type="submit"] {
        width: 30%;
    }
}






