@use "./variables" as v;

/* Estilos Header */

.navbar--background {
    background-color: v.$color-primary;
    padding: 20px;
    .logo-container{
    
        img{
            width: 60%;
        }
        .navbar-toggler--border {
            border: 1px solid #fff;
        }
    }
    .navbar__collapse--width{
        flex-grow: initial;
        .navbar__nav--content {
            width: 500px;
            justify-content: space-between;
            .nav__link--color {
                color: v.$color-white;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}